

#myModal .myModel {
    background-color: #ffffff !important
    color: #fff;
    font-size: 17px;
    padding-left: 20px;

}

 .h3, h3 {
    font-family: Pacifico;
    font-weight: 2000;
    line-height: 1.1;
    font-size: 28px;
    color: crimson !important;
  }
 

    .modal-content {
  	padding: 7%;
  }